.search-seo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
